<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>20191105web02</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
       <servlet-name>LifecycleServlet</servlet-name>
       <servlet-class>com.zt.servlet.LifecycleServlet</servlet-class>
       <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
        <servlet-name>LifecycleServlet</servlet-name>
        <url-pattern>/life</url-pattern>
  </servlet-mapping>
  <servlet>
       <servlet-name>index</servlet-name>
       <servlet-class>com.zt.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/first</url-pattern>
  </servlet-mapping>
  
   <servlet>
       <servlet-name>RegServlet</servlet-name>
       <servlet-class>com.zt.servlet.RegServlet</servlet-class>
       <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  
  
</web-app>